body {
    
    font-family: Arial;
    font-size: 12px;
    margin:0px;
    
}

                  




.blnco_limpio{
	border: 1px solid #888888;
	width:170px; height:268px;
	background-color: white;
	
	
}

.blnco_limpio ul{
list-style-type: none;
padding: 0px;
margin: 0px;
	
}

.blnco_limpio li{
height:15px; width:100%; padding-left:3px; cursor:pointer;
}

.blnco_limpio li:hover{background-color:#8DC29E;}
.blnco_limpio li:pointed{background-color:#8DC29E;}


.corto {width:50px;}
.medio {width:100px;}
.largo {width:200px;}

.iconos {
    background-image: url("/iconos/iconos.png");
    background-repeat: no-repeat;
}

.botonera {margin-bottom: 10px; position:relative;}

.ini_on {cursor:pointer; width:19px; height:18px; background-position:0px -17px; float:left; }
.ini_of {cursor:pointer; width:19px; height:18px; background-position:0px -35px; float:left; }

.fin_on {cursor:pointer; width:19px; height:18px; background-position:-19px -17px; float:left; margin-left: 2px;}
.fin_of {cursor:pointer; width:19px; height:18px; background-position:-19px -35px; float:left; margin-left: 2px;}

.prev_on {cursor:pointer; width:19px; height:18px; background-position:-38px -17px; float:left; margin-left: 2px;}
.prev_of {cursor:pointer; width:19px; height:18px; background-position:-38px -35px; float:left; margin-left: 2px;}

.next_on {cursor:pointer; width:19px; height:18px; background-position:-57px -17px; float:left; margin-left: 2px;}
.next_of {cursor:pointer; width:19px; height:18px; background-position:-57px -35px; float:left; margin-left: 2px;}

.save_on {cursor:pointer; width:19px; height:18px; background-position:-77px -17px; float:right;}
